:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* olor-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-red: #CE2829;
  --primary-yellow: #FDC913;
}

/*eklediklerim: */
*{
  border: 1px solid purple;
}

.hero-section,
main {
  background-color: #fffff1;
}


.hero-section {
  background-color: var(--primary-red);
  display: inline-block;
  width: 60rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  height: 125rem;
}

.hero-content h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 8rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin-top: -5rem;
  line-height: 1.1;
}
.hero-content h2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 52px;
  font-weight: 1000;
  margin-top: 10rem;
}
.hero-content button {
  background-color: var(--primary-yellow);
  font-size: 2rem;
  border-radius: 4rem;
  padding: 30px 90px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  margin-top: -15rem;
}

.hero-content img{
  transform:scale(2);
}

/* */

main {
  width: 60rem;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.navbar-section div {
  display: flex;
  width: 20rem;
}

.navbar-section div img{
  width: 5rem;
}

.navbar-section div p {
  font-size: 25px;
  margin-left: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

/* */ 

.menus {
  width: 60rem;
  height: 300rem; /* değişecek-farazi koydum */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu1 {
  background-color: var(--primary-red);
  position: relative;
  width: 50rem;
  height: 45rem;
  border-radius: 2rem;
  object-fit: contain;
}

.menu1 h3 {
  color: white;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.2;
  font-family: "Quattrocento", serif;
}

.menu1 p {
  color: white;
  font-weight: bold;
  font-size: 34px;
  margin-top: -5rem;
}

.menu1 button {
  color: var(--primary-red);
  background-color: white;
  font-size: 24px;
  border-radius: 4rem;
  padding: 25px 60px;
  font-weight: 500;
}

.menu1 img {
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu1 h3,
.menu1 p,
.menu1 button {
  position: relative;
  z-index:1;
  margin-left: 70px;
  
}

/* */
.menu2 {
  background-color: #202020;
  width: 50rem;
  height: 35rem;
  border-radius: 2rem;
  display: flex;
}

.menu2 h3 {
  color: white;
  font-size: 55px;
  margin-left: 70px;
  font-family: "Barlow", sans-serif;
}

.menu2 button {
  margin-left: 70px;
  width: 275px;
  color: var(--primary-red);
  background-color: white;
  font-size: 24px;
  border-radius: 4rem;
  padding: 25px 60px;
  font-weight: 500;
  margin-top: -10rem;
}


.menu2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu2 img {
  object-fit: contain;
  width:50%;
  margin-left: -8rem;
  transform:scale(1.3);
}

/* */ 

.menu3{
  position: relative;
  width: 50rem;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;
}

.menu3 .background-image{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index:-1;
}

.menu3 img{
  position: absolute;
  top: 6rem;
  right: 2rem;
}

.menu3 h3 {
  color: black;
  font-size: 55px;
  margin-left: 70px;
  font-family: "Barlow", sans-serif;
}

.menu3 button {
  margin-left: 70px;
  width: 275px;
  color: var(--primary-red);
  background-color: white;
  font-size: 24px;
  border-radius: 4rem;
  padding: 25px 60px;
  font-weight: 500;
}

/* Text section */

.text {
  background-color: #fffff1;
  width: 50rem;
  height: 30rem;
}

.text h4 {
  color: #CE2829;
  font-family: "Satisfy", cursive;
  text-align: center;
  font-size: 4rem;
  margin-top: -2px;
}

.text h3 {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 4rem;
  margin-top: -16px;
}


/* items section */

.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: 40rem;
}

.items button {
  flex-basis: 44%;
  display: flex;
  padding: 25px 15px;
  border-radius: 3rem;
  background-color: white;
  font-size: 23px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.items img {
  width: 60px;
}

.items button:nth-child(odd) {
  align-self: flex-start;
}

.items button:nth-child(even){
  align-self: flex-end;

}



/* Utility Classes */

.flex {
  display: flex;
}









/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */
